<div class="nav">
  <%= link_to 'Back', :back, class: 'text-link white caps' %>
</div>

<div class="card">
  <h1 class="card__title">Admin Mentors</h1>

  <div class="card-list" id="mentors-list">
    <% @admins.each do |mentor| %>
      <%= render partial: 'mentor', object: mentor %>
    <% end %>
  </div>
  
  <div class="card-row">
    <div id="new-mentor-form" class="card-row__add">
      <form action="<%= mentors_path %>" data-remote="true" method="post" class="flex">
        <input value="" type="text" name="mentor[name]" id="mentor_name" class="text-input flex-align-left" placeholder="Add an admin mentor">
        <input type="submit" class="btn flex-align-right">
      </form>
    </div>

    <button id="new_mentor" class="btn--large card__button--primary">New Mentor</button>
  </div>
</div>
