<%= link_to 'Back', :back %>
<h1>Admin Mentors</h1>

<div class="mentors--list">
  <% @admins.each do |mentor| %>
    <%= render partial: 'mentor', object: mentor %>
  <% end %>
</div>
<br>

<div class="new-mentor--form">
  <form action="<%= mentors_path %>" data-remote="true" method="post">
    <input value="" type="text" name="mentor[name]" id="mentor_name">
    <input type="submit">
  </form>
</div>

<button id="new_mentor">New Mentor</button>
