This is my new mentee form
<br><br>


<form action="<%= mentees_path %>" data-remote="true" method="post">
  <input value="" type="text" name="mentee[name]" id="mentee_name" class="text-input flex-align-left" placeholder="Mentee Name">
  <input type="submit" class="btn flex-align-right" value="Add Mentee">
</form>
