This is my show html page for mentee

<br><br>
<% if params[:id] == '1' %>
  You are our very first mentor
<% else  %>
  Welcome to the group!
<% end %>
<br>
<%= image_tag "welcome.jpg", width: "500px" %>
<div id="div_with_image">
 This is my cool div with a background from CSS
</div>
