// colors
$white: #FFF;
$black: #1B3A45;
$gray: #63504A;
$gray--light: #CDCDCD;
$red: #DC6747;
$red--dark: #B83C1A;
$blue: #316BB7;
$blue--dark: #233A58;
$blue--light: #00B6F3;

// type
$regular: 500;
$light: 300;
$bold: 700;
